.main {
  margin-top: 2rem;
  > div {
    display: grid;
    > button {
      margin-top: 2rem;
      margin-right: 1rem;

      justify-self: end;
    }
  }
}

.containerInfo {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: auto;

  img {
    width: 100%;
  }

  > div {
    > p {
      font-size: 1.2rem;
      margin: 1rem;
    }
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
}

.containerType {
  margin-top: 1rem;
  p {
    margin-left: 1rem;

    margin-bottom: 1rem;
  }
}
