.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 900px;
  margin: 5rem auto 5rem auto;

}

.main {
  display: grid;
  > button{
    justify-self: end;
    margin-right: 2rem;
  }
  
}
