.container{
    display: inline-block;

    width: 71px;
    height: 18px;

    font-size: 0.9rem;
    text-align: center;
    color: var(--white);

    border-radius: 0.2rem;
    
    margin-top: 0.2rem;
    margin-left: 1rem;
}